.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/media/background/HARD Hack Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-header {
  text-align: center;
  color: white;
}

.App-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.App-header p {
  font-size: 1.5rem;
  color: #61dafb;
}
