.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}


.App::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('/media/background/HARD Hack Background.png')
              center / cover no-repeat;
  z-index: -1;
}

:root {
  --navbar-height: 66px;
}










.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.App-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.App-header p {
  font-size: 1.5rem;
  color: #61dafb;
}
