.past-projects-list {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-block {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.project-image {
  width: 300px;
  border-radius: 12px;
}

.project-text h3 {
  font-size: 2rem;
  color: #2d535e;
}

.project-text p {
  font-size: 1.3rem;
  color: #2d535e;
}

@media (max-width: 768px) {
  .project-block {
    flex-direction: column;
    text-align: center;
  }
}
