.past-projects-list {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem;
}

.pastprojects-title{
  text-align: center;
  font-size: clamp(3rem, 6vw, 4.5rem);
  color: #81a4af;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-shadow:
    -1px -1px 0 #2d535e,
     1px -1px 0 #2d535e,
    -1px  1px 0 #2d535e,
     1px  1px 0 #2d535e;
}

.project-block {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-image {
  width: 300px;
  border-radius: 12px;
}

.project-text h3 {
  font-size: 2rem;
  color: #2d535e;
}

.project-text p {
  font-size: 1.3rem;
  color: #2d535e;
}

@media (max-width: 768px) {
  .project-block {
    flex-direction: column;
    text-align: center;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}